.contact {
  grid-column: full-start / full-end;
  display: grid;
  justify-content: center;
  grid-template-columns: max-content;
  font-size: 2rem;
  


  &__form {
    display: grid;
    grid-template-rows: repeat(6, min-content); 
    grid-gap: 1rem;
    margin-bottom: 6rem;

    &-btn--full {
        justify-self: center;

        &:link,
        &:visited,
        input[type=submit] {
          border-radius: .5rem;
          display: inline-block;
          padding: 1rem 3rem;
          font-size: 1.8rem;
          font-family: inherit;
          font-weight: 300;
          text-decoration: none;
          border-radius: 20rem;
          -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
          transition: background-color 0.2s, border 0.2s, color 0.2s;
        }
      
        &:hover,
        &:active,
        input[type=submit]:hover,
        input[type=submit]:active {
          background-color: $color-secondary;
        }
      
      
      
          &:link,
          &:visited,
          input[type=submit] {
          background-color: $color-primary;
          border: .1rem solid $color-primary;
          color: $color-white;
          margin-right: 1.5rem;
          }
      
      
          &:hover,
          &:active {
          border: .1rem solid $color-secondary;
          }
    }
    

    &-box {
      
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--label {

      }

      &--input {
        font-size: 2rem;
        font-weight: 300;
        font-family: inherit;

      }

      input[type=text],
      input[type=email],
      select,
      textarea {
        width: 62%;
        padding: .7rem;
        border-radius: .3rem;
        border: 1px solid #ccc;
        font-size: 2rem;
        color: $color-grey;
        font-family: inherit;
        font-weight: 300;
      }

      textarea {
        height: 10rem;
        font-size: 2rem;
        font-family: inherit;
    }
    
    input[type=checkbox] {
        margin: 10px 5px 10px 0;
        
    }

    *:focus {outline: none;}

    }
  }
}
